---
title: Gallery
---
<section class="bio">
    <div class="pfp">
        <img src="{{ site.baseurl }}/images/pfp.jpg" alt="Profile Photo" />
    </div>
    <div class="profile-info">
        <p class="username">mai-soup</p>
        <button>Can't follow</button>
        <p class="name">Maijs Garais</p>
        <p class="description">I deactivated most of my social media in late 2022, but still wanted a place to show photos I've taken that I like. This is an attempt at creating such a place.</p>
    </div>
</section>
<div id="gallery-container">
    <div id="gallery-grid">
        {% for image in site.static_files reversed %}
            {% if image.path contains 'images/gallery' %}
                <a href="{{ image.path | split: '/' | last | remove: '.jpg' | prepend: '/gallery/view/' | prepend: site.baseurl }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a>
            {% endif %}
        {% endfor %}
        <!-- <img src="{{ '/images/gallery/1.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/2.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/3.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/4.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/1.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/2.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/3.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/4.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/1.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/2.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/3.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/4.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/1.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/2.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/3.jpg' | prepend: site.baseurl }}" />
        <img src="{{ '/images/gallery/4.jpg' | prepend: site.baseurl }}" /> -->
    </div>
</div>