@import url("https://api.fonts.coollabs.io/css2?family=Roboto+Mono&display=swap");

$color-bg: #000;
$color-text: #fff;
$color-accent: #89fc00;
$color-accent-dark: #f5b700;
$primary: #ff0000;
$secondary: #00ffff;
$color-link: $secondary;

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: "Roboto Mono", Courier, monospace;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glitch-wrapper {
  text-align: center;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-25%);
    text-shadow: -2px 3px 0 $primary, 2px -3px 0 $secondary;
  }
  60% {
    opacity: 0.5;
    transform: translateX(25%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 $primary, -2px 3px 0 $secondary;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 $primary, 2px -3px 0 $secondary;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 $primary, -2px 3px 0 $secondary;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

#container-main {
  width: 70%;
  max-width: 80ch;
  margin: 0 auto;
}

#img-home {
  max-height: 55vh;
  width: 100%;
  object-fit: contain;
}

h1 {
  text-align: center;
}

.nav-link-current {
  color: $color-bg;
  background-color: $primary;
}

a {
  color: $color-link;

  &:hover {
    background-color: $color-link;
    color: $color-bg;
  }

  display: inline-block;
  padding: 3px;
}

.socials-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  .mastodon {
    --brand-color: #563acc;
  }

  .github {
    --brand-color: #fff;
  }

  .linkedin {
    --brand-color: #0077b5;
  }

  a.social {
    --_brand-color: var(--brand-color, red);

    border: 2px solid var(--_brand-color);
    background-color: $color-bg;
    color: $color-text;
    transition: box-shadow 0.2s ease-in-out;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-top: 1rem;

    &:hover {
      background-color: $color-bg;
      box-shadow: 0 0 16px var(--_brand-color);
    }
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
