<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ '/images/favicon.png' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/gruvbox-light.css' | prepend: site.baseurl }}">
    <title>{{ page.title }}</title>
</head>
<body style="min-height:100vh;display: flex;align-items: center;" class="py-5">
    <div class="container-fluid text-center" id="container-main">
        {{ content }}
        {% include navigation.html extraclass="mt-2" %}
    </div>
</body>
</html>