<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ '/images/favicon.png' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/gruvbox-light.css' | prepend: site.baseurl }}">
    <title>Gallery/Image</title>
</head>
<body class="py-3">
    <div class="container-fluid" id="container-main">
        {% include navigation.html %}
        <img style="max-width: 100%;" src="{{ page.path | split: '/' | last | remove: '.md' | prepend: '/images/gallery/' | append: '.jpg' | prepend: site.baseurl }}" />
        <div id="image-info">
            {{ page.date }}
            {{ content }}
        </div>
    </div>
</body>
</html>